* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "Epcxt";
    src: url("../font/epcxt.ttf");
}
@font-face {
    font-family: "SmileySans";
    src: url("../font/SmileySans-Oblique.ttf");
}

body {
    width: 100%;
    height: 100%;
}